## Rename/Copy this file to "credentials" after filling missing information

# Openstack credentials
export OS_PROJECT_NAME=""
export OS_TENANT_NAME=""
export OS_USERNAME=""
export OS_IDENTITY_API_VERSION="2"
export OS_PASSWORD=""
export OS_AUTH_URL="https://:5000/v2.0"

# Username/Host to connect to CC-IN2P3
CCUSER=
CCHOST=cca.in2p3.fr

# Local VM uuid
VMID=

# Volume type used to create new volumes
VOL_TYPE=

